<!DOCTYPE html>
 <html>
 <head>
   <title>Addresses of Dev Bootcamp Locations</title>
 </head>
 <body>
   <ul>
     <% @addresses.each do |city, address| %>
       <li><%= city %>: <%= address %></li>
     <% end %>
  </ul>
</body>
</html>
