#octopus  {
  margin: auto;
  margin-top: 10px;
  width: 300px;
  z-index: -1;
  padding: 150px;
}
#hat {
 position: absolute;
  padding-left: 260px;
  padding-top: 80px;
}
#glasses {
  position: absolute;
  padding-top:100px;
  padding-left: 100px;
}